header {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-decoration: none;
    text-align: center;
}
.navbar-brand {
    display: block;
    float: none;
    margin:0 auto;
    text-align: center;
}

.navbar-nav {
    display: block;
    float: none;
    margin:0 auto;
    text-align: center;
}

body {
    background-color: rgb(30, 28, 41);

}

video {
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;
}

table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 1em;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 680px) {
    header{
        font-size: .75rem;
    }
    .navbar-brand{
        align-items: center;
        font-size: 1rem;
    }
    .button{
        size: medium;
    }
    .navbar-nav{
        text-align: center;
    }
    video {
        height: 200px;
        width: 30%;
    }
    table {
        display: flex;
        flex-wrap: wrap;
    }
    th {
        font-size: .75rem;
    }
    a {
        width: 30%;
        height: 30%;
    }
}

@media only screen and (max-width: 500px) {
    header{
        font-size: .75rem;
    }
    .navbar-brand{
        font-size: .75rem;
    }
    th {
        font-size: .5rem;
    }
    footer {
        display: flex;
        justify-content: center;
        width: 50%;
    }
    img {
        width: 50%;
        height: 50%;
    }
}